<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Login</title>
</head>
<body>
    <div class="login-container">
        <form id="loginForm">
            <label for="employeeId">Employee Username:</label>
            <input type="text" id="employeeId" name="username" required>
            <label for="employeepass">Employee Password:</label>
            <input type="text" id="employeepass" name="password" required>
            <button type="submit" (click) = "validateLogin()">Submit</button>
        </form>
    </div>
</body>
</html>