<!DOCTYPE html>
<html lang="en">
<base href="/">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Your Hotel!</title>
</head>
<body>
  <nav class="site-navigation">
    <div class="site-logo">MFD Hotels</div>
    <ul class="nav-links">
      <li class="nav-item"><a (click) = "goHome()">Home</a></li>
      <li class="nav-item"><a>Book</a></li>
      <li class="nav-item"><a>Contact Us</a></li>
      <li class="nav-item"><a (click) = "goToEmployeeLogin()">Employee Login</a></li>
      <li class="nav-item"><a (click) = "goToCustomerLogin()">Log In/Sign up</a></li>

    </ul>
  </nav>
  <div *ngIf="displaySearchBar">
    <router-outlet></router-outlet>
  </div>
  <div *ngIf="showEmployeeLogin">
    <router-outlet></router-outlet>
  </div>
  <div *ngIf="customerLogin">
    <router-outlet></router-outlet>
  </div>
  <div *ngIf="customerSignup">
    <router-outlet></router-outlet>
  </div>
  

  
</body>
</html>
